@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}

main {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}








/* Left Side Formatting */ 

.hero-left {
    flex: 1 0 auto;
    min-width: 250px;
    background: url(./img/Isaac\ Mitchell.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    min-height: 250px;
}


.logo-container{
    height: min-content;
    background-color: rgba(173, 170, 170, .4);
    min-height: 100px;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;

}

.logo-img{
    height: 30vh;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img img{
    display: block;
    height: 75%;
    min-height: 100px;
}

.logo-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-text{
    font-family: "Norse-Bold";
    text-overflow:clip;
    flex: 1 0 auto;
    color: white;
    font-size: clamp(4rem,5rem,6rem);

}










/* Right side formatting */

.hero-right {
    flex: 1 0 auto;
    width: 60vw;
    display: grid;
    grid-template-rows: repeat(3 auto);
    text-align: center;
}

.cta-main-text, .cta{
    padding: 6rem 3rem 0 3rem;
    font-size: clamp(1rem, 2rem, 5rem);
}

.cta{
    text-align: left;
    padding: 1rem 3rem 2rem 3rem;
    margin-left: 25px;
}


.hero-right-main-text,
.create-or-login {
    background-color: lightgrey;
}


.form-title{
    font-size: clamp(1rem, 2rem, 5rem);
    padding: 1rem 0px 2rem 0px;
}

.form-container{
    font-size: clamp(1rem, 1.5rem, 2rem);
    text-align: left;
    display: flex;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;

}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    padding: 0px 10px 0px 10px;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: rgba(223, 223, 223, .05);
    border-width: 3px;
    border-radius: 5px;
    font-size: clamp(1.1rem, 1.25rem, 1.75rem);
    padding: 3px;
}

input[type="text"]:valid, input[type="password"]:valid, input[type="email"]:valid{
    border: green solid 3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    border: black solid 3px;
}



